body{
    background-color:  #f9d3e2;
}

h1{
    color: #013313;
}

#main-content{
    display: grid;
    grid-template-rows:  1fr;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "one one"
    "two three";

    gap: 30px;
}

#one{grid-area: one;}
#two{grid-area: two;}

#one, #two, #three{
    border: 4px solid black;
    padding: 50px;
}


/*In relation to the Game Center Page (don't change)*/
.hide{
    display: none;
}

.unhide{
    display: block;
}
